version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: simple-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: simple-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/simpledb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: simple-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
